<!DOCTYPE html>
<html>

  <head>
    <title> {{ t }} </title>
  </head>

  <body>
    <b><h1><center> Occupations </center></h1></b>
    
    <center>
      <table border = 1>
          <tr>
          	<th bgcolor="#66b3ff"> Job Class </th>
          	<th bgcolor="#66b3ff"> &nbsp;&nbsp; Percentage &nbsp;&nbsp; </th>
          </tr>
        {% for item in l %}
          <tr>
          	<td bgcolor = "#e6f2ff"> {{ item[0] }} &nbsp;&nbsp; </td>
          	<td bgcolor = "#e6f2ff"><center> {{ item[1] }} </center></td>
          </tr>
        {% endfor %} 
      </table>

    <br> 
    Your fated occupation lies within the <b> {{ random }} </b> industry. 
    <br> 
    <br>
    <!--To learn more, visit <a href= " {{ site }} " target="_blank"> here</a> for more details.-->
    To learn more, visit <a href= " {{ s }} " target="_blank"> here</a> for more details.
    
    </center>
    
  </body>

</html>
